<header class="header">
  <nav>
    <ul class="menu">
      <li class="menu-item"><button class="menu-button" type="button" routerLink="/">Homepage</button></li>
      <li class="menu-item"><button class="menu-button" type="button" routerLink="/questionnaire">Eignungstest</button></li>
      <li class="menu-item"><button class="menu-button" type="button" routerLink="/contact-page">Kontakt</button></li>
    </ul>
  </nav>
</header>

<!-- Router outlet will display the content of the routed component -->
<router-outlet></router-outlet>
