<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar__logo">
      <img src="assets/Images/uniLogo.png" alt="RPA Image" class="logo">
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a class="navbar__links" routerLink="/">Homepage</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__links" routerLink="/questionnaire">Eignungstest</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__links" routerLink="/contact-page">Kontakt</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__links" routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Router outlet will display the content of the routed component -->
<router-outlet></router-outlet>

<!-- Footer -->
<app-footer></app-footer>
