.slider-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.slider-wrapper {
  display: flex;
}

.slide {
  width: 200px;
  flex: 0 0 auto;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  border-radius: 5px;
}
