.slider-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.slider-wrapper {
  display: flex;
}

.slide {
  width: 250px;
  height: 300px;
  flex: 0 0 auto;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.content h3 {
  color: #0F4C81;
}

.star-container {
  display: flex;
  justify-content: center;
}

.star {
  font-size: 42px;
  color: grey;
}

.star.active {
  color: gold;
}

.rating-footer {
  text-align: right;
  font-size: 0.8em;
  color: grey;
}

