<div class="questionnaire-container">
  <h1>Fragebogen</h1>

  <ul class="questionnaire">
    <li *ngFor="let question of questions">
      <div class="question">
        <h2 class="question-actual">{{question.question}}</h2>
        <p class="question-explanation">{{question.explanation}}</p>
        <div class="user-input">
          <input type="radio" name="option"> Nein
          <input type="radio" name="option"> Eher nicht
          <input type="radio" name="option"> Vielleicht
          <input type="radio" name="option"> Eher ja
          <input type="radio" name="option"> Ja
          <button class="submit-button">Abschicken</button>
        </div>
      </div>
    </li>
  </ul>
</div>
