<div class="info-container">
  <h2>Dieser Fragebogen ermöglicht es Ihnen, die Eignung von Robotic Process Automation (RPA) für Ihr Unternehmen zu überprüfen. Sie werden verschiedene Kriterien beantworten, die Aufschluss darüber geben, ob bestimmte Prozesse in Ihrem Unternehmen für die Automatisierung mit RPA geeignet sind.</h2>
  <h2>Bitte beantworten Sie die Fragen, indem Sie die Antwortbuttons verwenden. Wenn Sie weitere Informationen zu einer Frage benötigen, können Sie auf das Fragezeichen klicken, um detailliertere Informationen zu erhalten.</h2>
  <h2>Sobald Sie alle Fragen beantwortet haben, wird das Ergebnis automatisch berechnet und angezeigt. Sie erhalten eine Einschätzung, ob RPA für Ihr Unternehmen geeignet sein könnte.</h2>
</div>

<div class="questionnaire-container">
  <ul class="questionnaire">
    <li *ngFor="let question of questions">
      <div class="question">
        <h2 class="question-actual">{{question.question}}<span class="question-icon" (click)="openExplanation(question.id)">?</span></h2>
        <div class="question-explanation" [class.open]="openQuestions.includes(question.id)">{{question.explanation}}
          <h5>Unterfragen:</h5>
          <p *ngFor="let subQuestion of question.subQuestions" class="question-sub">{{subQuestion}}</p>
        </div>
        <app-question-answering-buttons [questionId]="question.id" [questionWeight]="question.weight" (valueChange)="onValueChange($event, question.id)"></app-question-answering-buttons>
      </div>
    </li>
  </ul>

  <app-results *ngIf="areAllQuestionsAnswered()" [totalScore]="totalScore" [questions]="questions" (redo)="resetQuestionnaire()"></app-results>
</div>
