<div class="questionnaire-container">
  <ul class="questionnaire">
    <li *ngFor="let question of questions">
      <div class="question">
        <h2 class="question-actual">{{question.question}}<span class="question-icon" (click)="openExplanation(question.id)">?</span></h2>
        <div class="question-explanation" [class.open]="openQuestions.includes(question.id)">{{question.explanation}}
          <h5>Unterfragen:</h5>
          <p *ngFor="let subQuestion of question.subQuestions" class="question-sub">{{subQuestion}}</p>
        </div>
        <app-question-answering-buttons [questionId]="question.id" [questionWeight]="question.weight" (valueChange)="onValueChange($event, question.id)"></app-question-answering-buttons>
      </div>
    </li>
  </ul>

  <app-results *ngIf="areAllQuestionsAnswered()" [totalScore]="totalScore" [questions]="questions" (redo)="resetQuestionnaire()"></app-results>
</div>
