<div class="questionnaire-container">
  <h1>RPA Eignungstest</h1>
  <p class="questionnaire-explanation"> Erklärung zum Fragebogen: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus </p>

  <ul class="questionnaire">
    <li *ngFor="let question of questions">
      <div class="question">
        <h2 class="question-actual">{{question.question}}<span class="question-icon" (click)="openExplanation(question.id)">?</span></h2>
        <div class="question-explanation" [class.open]="openQuestions.includes(question.id)">{{question.explanation}}
          <h5>Unterfragen:</h5>
          <p *ngFor="let subQuestion of question.subQuestions" class="question-sub">{{subQuestion}}</p>
        </div>
        <app-question-answering-buttons [questionId]="question.id" [questionWeight]="question.weight" (valueChange)="onValueChange($event, question.id)"/>
      </div>
    </li>
  </ul>

  <app-results *ngIf="areAllQuestionsAnswered()" [totalScore]="totalScore" [questions]="questions"></app-results>
</div>
