<div class="container">
  <div class="about-us">
    <h1 class="title">Über Uns</h1>
    <p class="description">
      Wir sind eine engagierte Gruppe von Studenten und wissenschaftlichen Mitarbeitern der Universität Rostock. Unsere Leidenschaft gilt der Forschung, Lehre und dem stetigen Streben nach neuem Wissen. Wir arbeiten interdisziplinär und sind stolz darauf, Teil einer Universität zu sein, die Innovation fördert und zukünftige Generationen formt.
    </p>
    <h2 class="subtitle">Die Universität Rostock</h2>
    <p class="description">
      Die Universität Rostock, gegründet im Jahr 1419, ist eine der ältesten Universitäten in Europa. Mit einer reichen Geschichte und einer zukunftsorientierten Vision hat sie sich als ein Ort etabliert, an dem Lehre und Forschung auf höchstem Niveau stattfinden. Durch den Einsatz modernster Technologien und innovativer Lehrmethoden bietet die Universität Rostock ein dynamisches und inspirierendes Umfeld für Studierende und Mitarbeiter.
    </p>
    <h2 class="subtitle">Zukunftszentrum Mecklenburg-Vorpommern</h2>
    <p class="description">
      Das Zukunftszentrum MV (ZMV) richtet sich an kleine und mittlere Unternehmen (KMU) und bietet ein Gesamtpaket aus wissenschaftlicher Forschung, praktischer Unterstützung sowie zielgerichteter Weiterbildung und Vernetzung. Ziel ist es, die Unternehmen zu befähigen, zukunftskritische Bedarfe zu identifizieren und diesen mit entsprechenden Maßnahmen zu begegnen. Unter zukunftskritisch versteht das ZMV in diesem Zusammenhang alle Herausforderungen, die bedeutsam für den Unternehmenserfolg sind.
    </p>
    <p class="description">
      Das ZMV will den gemeinsamen Dialog pflegen, um miteinander statt übereinander zu reden. Ziel des Austausches ist es, die Überzeugungen und Perspektiven der Unternehmen kennenzulernen sowie einen kritischen Blick auf das Jetzt und die Zukunft zu richten.
    </p>

  </div>
</div>
