<div class="fa-table">
  <div class="table-container">
  <table>
    <thead>
    <tr>
      <th>Frage</th>
      <th>Nein</th>
      <th>Eher Nein</th>
      <th>Eher Ja</th>
      <th>Ja</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let question of questionsId">
      <td>{{getQuestionById(question)?.question}}</td>
      <td *ngFor="let answerType of answers">
        {{ calculateAnswerCount(question, answerType).answerPercentage }}%
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>

<p class="total-entries-text">Bisher wurden insgesamt {{getTotalEntries()}} Umfragen ausgeführt.</p>

<div class="fa-table">
  <div class="table-container">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>User ID</th>
      <th>Timestamp</th>
      <th *ngFor="let question of questionsId">{{ question }}</th>
      <th>Score</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of properties">
      <td>{{ getProperty(result, '_id') }}</td>
      <td>{{ getUserId(getProperty(result, 'userIP')) }}</td>
      <td>{{ getProperty(result, 'timestamp') | date:'dd.MM.yyyy, HH:mm' }}</td>
      <td *ngFor="let question of questionsId">{{ getAnswer(result, String(question)) }}</td>
      <td>{{ getScore(result) }}%</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="dropdown-selection">
  <label for="timeRange">Zeitraum:</label>
  <select class="form-select" id="timeRange" (change)="onTimeRangeChange($event)">
    <option value="0.0416666667">Letzte Stunde</option>
    <option value="24">Letzte 24 Stunden</option>
    <option value="7">Letzte 7 Tage</option>
    <option value="30">Letzter Monat</option>
    <option value="365">Letztes Jahr</option>
  </select>
</div>

<canvas id="myChart"></canvas>

