<div class="home-container">
  <div class="content-section">

    <div class="info-section">
      <div [ngSwitch]="selectedValue">
        <div *ngSwitchCase="0">
          <div class="info-box">
            <div class="text-container">
              <h2>Was ist RPA?</h2>
              <p>Robotic Process Automation (RPA) ist eine Technologie, die es ermöglicht, repetitive, manuelle Aufgaben in Unternehmen durch Software-"Roboter" zu automatisieren. Diese Roboter simulieren menschliche Aktivitäten, z.B. Daten eingeben, E-Mails senden oder Rechnungen verarbeiten.</p>
            </div>
            <img id="rpa" src="assets/Images/rpa.svg" alt="RPA Image" class="home-image">
          </div>
        </div>
        <div *ngSwitchCase="1">
          <div class="info-box">
            <img id="computer" src="assets/Images/computer.svg" alt="RPA Image" class="home-image">
            <div id="reverse" class="text-container">
              <h2>Warum sollten Sie RPA benutzen?</h2>
              <p>Mit RPA können Unternehmen ihre Effizienz steigern und Fehler reduzieren. Es spart Zeit und Ressourcen, da Aufgaben schneller und genauer als von Menschen durchgeführt werden können. RPA ermöglicht es, sich auf strategischere und wertvollere Arbeit zu konzentrieren.</p>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="2">
          <div class="facts-box">
            <h2>Zahlen und Fakten</h2>
            <p>Die AIIM (Association for Information and Image Management) führte eine Umfrage in verschiedenen Unternehmen im Bezug zu RPA durch, wobei</p>
            <div class="facts-container">
              <div class="fact">
                <h1>95%</h1>
                <p>von einer erhöhten Produktivität berichteten.</p>
              </div>
              <div class="fact">
                <h1>93%</h1>
                <p>von einer verbesserten Compliance berichteten.</p>
              </div>
              <div class="fact">
                <h1>91%</h1>
                <p>von reduzierten Kosten berichteten.</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="3">
          <div class="info-box">
            <div class="text-container">
              <h2>Unsere Mission</h2>
              <p>Unsere Mission ist es, Unternehmen dabei zu helfen, das Potenzial von RPA zu erkennen und zu nutzen. Wir bieten einen Fragebogen an, der die Eignung von RPA für Ihr Unternehmen prüft. Unser Ziel ist es, die Automatisierung für alle zugänglich und nutzbar zu machen.</p>
            </div>
            <img id="flag" src="assets/Images/flag.svg" alt="RPA Image" class="home-image">
          </div>
        </div>
      </div>
    </div>

    <app-content-slider (selectedValueChange)="onSliderValueChange($event)"></app-content-slider>
  </div>
</div>

<app-about-us></app-about-us>

<!-- google-site-verification: googlebc6c785b8fcd060b.html -->
