<div class="home-container">
  <div class="content-section">

    <div class="info-section">
      <div [ngSwitch]="selectedValue">
        <div *ngSwitchCase="0">
          <div class="info-box">
            <div class="text-container">
              <h2>Was ist RPA?</h2>
              <p>Robotic Process Automation (RPA) ist eine Technologie, die es ermöglicht, repetitive, manuelle Aufgaben in Unternehmen durch Software-"Roboter" zu automatisieren. Diese Roboter simulieren menschliche Aktivitäten, z.B. Daten eingeben, E-Mails senden oder Rechnungen verarbeiten.</p>
            </div>
            <img id="rpa" src="assets/Images/rpa.svg" alt="RPA Image" class="home-image">
          </div>
        </div>
        <div *ngSwitchCase="1">
          <div class="info-box">
            <img id="computer" src="assets/Images/computer.svg" alt="RPA Image" class="home-image">
            <div id="reverse" class="text-container">
              <h2>Warum sollten Sie RPA benutzen?</h2>
              <p>Mit RPA können Unternehmen ihre Effizienz steigern und Fehler reduzieren. Es spart Zeit und Ressourcen, da Aufgaben schneller und genauer als von Menschen durchgeführt werden können. RPA ermöglicht es, sich auf strategischere und wertvollere Arbeit zu konzentrieren.</p>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="2">
          <div class="facts-box">
            <h2>Zahlen und Fakten</h2>
            <p>Die AIIM (Association for Information and Image Management) führte eine Umfrage in verschiedenen Unternehmen im Bezug zu RPA durch, wobei</p>
            <div class="facts-container">
              <div class="fact">
                <h1>95%</h1>
                <p>von einer erhöhten Produktivität berichteten.</p>
              </div>
              <div class="fact">
                <h1>93%</h1>
                <p>von einer verbesserten Compliance berichteten.</p>
              </div>
              <div class="fact">
                <h1>91%</h1>
                <p>von reduzierten Kosten berichteten.</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="3">
          <div class="info-box">
            <div class="text-container">
              <h2>Unsere Mission</h2>
              <p>Unsere Mission ist es, Unternehmen dabei zu helfen, das Potenzial von RPA zu erkennen und zu nutzen. Wir bieten einen Fragebogen an, der die Eignung von RPA für Ihr Unternehmen prüft. Unser Ziel ist es, die Automatisierung für alle zugänglich und nutzbar zu machen.</p>
            </div>
            <img id="flag" src="assets/Images/flag.svg" alt="RPA Image" class="home-image">
          </div>
        </div>
      </div>
    </div>

    <app-content-slider (selectedValueChange)="onSliderValueChange($event)"></app-content-slider>
  </div>
</div>

<div class="container">
  <div class="about-us">
    <h1 class="title">Über Uns</h1>
    <p class="description">
      Wir sind eine engagierte Gruppe von Studenten und wissenschaftlichen Mitarbeitern der Universität Rostock. Unsere Leidenschaft gilt der Forschung, Lehre und dem stetigen Streben nach neuem Wissen. Wir arbeiten interdisziplinär und sind stolz darauf, Teil einer Universität zu sein, die Innovation fördert und zukünftige Generationen formt.
    </p>
    <div class="slider-container">
      <app-ratings-slider></app-ratings-slider>
    </div>
    <h2 class="subtitle">Die Universität Rostock</h2>
    <p class="description">
      Die Universität Rostock, gegründet im Jahr 1419, ist eine der ältesten Universitäten in Europa. Mit einer reichen Geschichte und einer zukunftsorientierten Vision hat sie sich als ein Ort etabliert, an dem Lehre und Forschung auf höchstem Niveau stattfinden. Durch den Einsatz modernster Technologien und innovativer Lehrmethoden bietet die Universität Rostock ein dynamisches und inspirierendes Umfeld für Studierende und Mitarbeiter.
    </p>
    <h2 class="subtitle">Zukunftszentrum Mecklenburg-Vorpommern</h2>
    <p class="description">
      Das Zukunftszentrum MV (ZMV) richtet sich an kleine und mittlere Unternehmen (KMU) und bietet ein Gesamtpaket aus wissenschaftlicher Forschung, praktischer Unterstützung sowie zielgerichteter Weiterbildung und Vernetzung. Ziel ist es, die Unternehmen zu befähigen, zukunftskritische Bedarfe zu identifizieren und diesen mit entsprechenden Maßnahmen zu begegnen. Unter zukunftskritisch versteht das ZMV in diesem Zusammenhang alle Herausforderungen, die bedeutsam für den Unternehmenserfolg sind.
    </p>
    <p class="description">
      Das ZMV will den gemeinsamen Dialog pflegen, um miteinander statt übereinander zu reden. Ziel des Austausches ist es, die Überzeugungen und Perspektiven der Unternehmen kennenzulernen sowie einen kritischen Blick auf das Jetzt und die Zukunft zu richten.
    </p>
    <p class="description">
      Ein wichtiges Anliegen ist darüber hinaus das Erkennen und Aufarbeiten der Entwicklungsbedarfe in den Unternehmen. In Kooperation mit den Unternehmen erarbeitet das ZMV, welches Wissen und welche Kompetenzen wesentlich sind, um für die Zukunft gut aufgestellt zu sein. Das Mitgestalten der Entscheider und Beschäftigten im Unternehmen ist ein zentrales Merkmal des Angebotsprofils, das sich in drei Bereiche gliedert.
    </p>
  </div>
</div>

