.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.content-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
}

.intro-section {
  width: 50%;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.home-image {
  max-width: 100%;
  height: auto;
}

.home-button {
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #449D44;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.home-button:hover {
  background-color: #398439;
}

.info-section {
  margin-top: 40px;
}

.info-section h2 {
  margin-top: 20px;
}
