body {
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  height: 80vh;
}

.content-section {
  margin: 0 auto;
  width: 70vw;
  height: 60vh;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 10px;
  transition: all 0.3s;
}

.content-section:hover {
  transform: scale(1.02);
}

.info-section h2 {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}

.info-box {
  padding: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 45vh;
  text-align: justify;
}

.facts-box {
  height: 45vh;
  padding: 20px;
}

.home-image {
  transition: all 0.3s;
}

.home-image:hover {
  transform: scale(1.02);
}

#university {
  max-width: 15vw;
}

#computer {
  max-width: 20vw;
}

#rpa {
  max-width: 25vw;
}


h3 {
  margin: 20px auto;
  text-align: center;
  width: 90%;
  font-size: 1.4rem;
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.fact {
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  transition: all 0.3s;
}

.fact:hover {
  transform: scale(1.02);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.fact h1 {
  color: #2d7fd9;
  margin: 10px 0;
  font-size: 2rem;
}

.fact p {
  font-size: 0.9rem;
}
