<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
  <h2>Kontaktformular</h2>
  <div class="sameRow">
    <div>
      <input type="text" id="name" formControlName="name" required placeholder="Name">
    </div>
    <div>
      <input type="email" id="email" formControlName="email" required placeholder="Email">
    </div>
  </div>
  <div>
    <textarea id="message" formControlName="message" required placeholder="Nachricht"></textarea>
  </div>
  <button type="submit">Absenden</button>
</form>
