* {
  box-sizing: border-box;
}

h2 {
  font-family: Ubuntu, sans-serif;
  font-size: 1.5em;
  color: #0F4C81;
  margin-bottom: 1em;
  margin-top: 0;
}

.contact-form {
  margin-top: 20px;
  width: 800px;
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  width: 35vw;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.sameRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sameRow > div {
  width: 48%;
}

input[type="text"], input[type="email"] {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #cccccc;
  height: 4vh;
  margin-bottom: 2vh;
  font-family: Ubuntu, sans-serif;
  font-size: 1rem;
  padding-bottom: 20px;
  padding-top: calc(5vh - 20px);
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  outline: none;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 2vh;
  font-family: Ubuntu, sans-serif;
  font-size: 1rem;
  padding-bottom: 20px;
  padding-top: calc(14vh - 20px);
  height: 15vh;
  resize: none;
  overflow: hidden;
}

button {
  display: block;
  width: 30%;
  padding: 10px;
  color: #ffffff;
  background-color: #82a182;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 70%;
  height: 5vh;
}

button:hover {
  background-color: #398439;
}

input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
  border-color: red;
}

@media screen and (min-width: 1600px) {
  textarea {
    font-size: 1.2rem;
  }

  input[type="text"], input[type="email"] {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  textarea {
    font-size: .7rem;
  }

  input[type="text"], input[type="email"] {
    font-size: .7rem;
  }

  button {
    font-size: .7rem;
  }
}
