<div class="container">
  <div class="contact-details">
    <div class="contact-option">
      <img src="assets/Images/location-point.svg" alt="Location" class="logo">
      <div class="address">
        <p>Example Corp</p>
        <p>123 Example St</p>
        <p>City, Zip</p>
      </div>
    </div>
    <div class="contact-option">
      <img src="assets/Images/email.png" alt="Email" class="logo">
      <p>example@example.com</p>
    </div>
    <div class="contact-option">
      <img src="assets/Images/telephone.svg" alt="Phone" class="logo">
      <p>+1 123 456 7890</p>
      <p>Mon - Fri: 09:00 - 17:00</p>
    </div>
  </div>
  <app-contact-form></app-contact-form>
</div>
