body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-details {
  width: 50%;
  padding: 20px;
}

.contact-option {
  width: 18vw;
  display: flex;
  align-items: center;
  margin: 40px 20px;
  justify-content: flex-start;
}

.contact-option p {
  margin-left: 20px;
  width: calc(100% - 60px); /* Breite der .contact-option abzüglich des Logos und des linken Randes */
}

.logo {
  height: 50px;
}
