.container {
  font-family: 'Helvetica', sans-serif;
  display: flex;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
}

.form-container {
  width: 48%;
  margin: 3em 0;
}

.contact-container {
  width: 52%;
  margin: 3em 1em;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.contact-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("src/assets/Images/map.png");
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -1;
}

.contact-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: -2;
}

p {
  font-family: Ubuntu, sans-serif;
  font-size: 1.3em;
  color: #2c3e50;
  margin: 1em .5em;
}

@media screen and (max-width: 768px) {
  .contact-option {
    flex-basis: calc(50% - 1em);
  }
}

@media screen and (max-width: 480px) {
  .contact-option {
    flex-basis: 100%;
  }
}
