<div class="container">
  <div class="contact-details">
    <h2>Kontaktiere uns</h2>
    <div class="contact-option">
      <img ngSrc="assets/Images/email.png" alt="RPA Image" class="logo" height="512" width="512">
      <p>beispiel@beispiel.de</p>
    </div>
    <div class="contact-option">
      <img ngSrc="assets/Images/telephone.svg" alt="RPA Image" class="logo" height="800" width="800">
      <p>0176/12345678</p>
    </div>
    <div class="contact-option">
      <img ngSrc="assets/Images/location-point.svg" alt="RPA Image" class="logo" height="800" width="800">
      <div class="address">
        <p>Beispiel GmbH</p>
        <p>Beispielstraße 123 </p>
        <p>12345 Stadt</p>
      </div>
    </div>
  </div>
  <app-contact-form></app-contact-form>
</div>

<app-about-us></app-about-us>
